.logo {
	height: 16px;
	margin: 32px;
}
  
.ant-layout-sider-trigger, .ant-layout-sider-children, .ant-menu {
	background-color: #191c20 !important;
}
  
.ant-menu-item-selected {
	background-color: #121417 !important;
}
  
.ant-pagination-item-link, .ant-pagination-item {
	border-radius: 25px !important;
}
  
.ant-pagination-item-ellipsis {
	color: rgb(255, 255, 255) !important;
}
  
.ant-table-wrapper {
	background-color: #2e2f32 !important;
}